
<div class = 'form-page'>
  <div class='full-form'>
    <%= form_for @search do |f|%>
      <div class="row">
        <div class = "field form-group ">
          <%= f.label :keywords%>

            <%= f.text_field :keywords, class: 'form-control body-area' %>

        </div>

        <div class = "field form-group ">
          <%= f.label :distillery%>

            <%= f.text_field :distillery, class: 'form-control' %>

        </div>

        <div class = "field form-group ">
          <%= f.label :age%>

            <%= f.text_field :age, class: 'form-control' %>

        </div>


        <div class = "field form-group ">
          <%= f.label :kind%>

            <%= f.text_field :kind, class: 'form-control' %>

        </div>

        <div class = "field form-group ">
          <%= f.label :min_price%>

            <%= f.text_field :min_price, class: 'form-control' %>

        </div>

        <div class = "field form-group ">
          <%= f.label :max_price %>
          <div class='col-sm-11'>
            <%= f.text_field :max_price, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="col-sm-1 offset-md-3">
        <%= f.submit class: 'btn btn-main'  %>
      </div>

    <%end%>
  </div>
</div>
